appdirs==1.4.4
apprise==0.9.5.1
CacheControl==0.12.6
certstream==1.12
cffi==1.14.5
chardet==4.0.0
click==8.0.1
colorama==0.4.4
contextlib2==0.6.0
cryptography==3.4.7
distlib==0.3.1
distro==1.5.0
dnspython==2.0.0
html5lib==1.1
hues==0.2.2
ipwhois==1.2.0
lockfile==0.12.2
Markdown==3.3.4
meld3==2.0.1
msgpack==1.0.2
oauthlib==3.1.1
ordered-set==4.0.2
packaging==20.9
pep517==0.9.1
progress==1.5
pycparser==2.20
pyparsing==2.4.7
PySocks==1.7.1
pytoml==0.1.21
PyYAML==5.4.1
requests==2.25.1
requests-oauthlib==1.3.0
retrying==1.3.3
six==1.15.0
supervisor==4.2.1
termcolor==1.1.0
toml==0.10.2
urllib3==1.26.5
webencodings==0.5.1
websocket-client==1.0.1
wheel==0.38.1
